@font-face {
  font-family: 'Recursive';
  src: url('/vnd/Recursive-VariableFont.ttf') format('truetype');
}

html {
  font-size: 20px;
}

body {
  font-family: "Rubik", "Recursive", sans-serif;
}

h1 {
  font-size: 2rem !important;
  font-weight: 600 !important;
}

h2 {
  font-size: 1.75rem !important;
  font-weight: 600 !important;
  margin-bottom: 0.5rem !important;
}

h3 {
  font-size: 1.25rem !important;
  font-weight: 600 !important;
  margin-bottom: 0.5rem !important;
}

.body a {
  font-weight: 400 !important;
  text-decoration: underline !important;
}

footer {
  font-weight: 300;
}

.body {
  font-weight: 300;
}
.body p {
  margin-bottom: 1.5rem;
}

.\? {
  border: 1px solid red;
}

.\?\? {
  border: 1px solid green;
}

.\?\?\? {
  border: 1px solid blue;
}

pre > code > div {
  display: flex;
  font-size: smaller;
  overflow-x: scroll;
  box-shadow: inset -4px -4px 6px -2px #ccc;
}

pre {
  margin-bottom: 1rem !important;
}

ul {
  list-style-type: disc !important;
  margin-left: 2rem !important;
  margin-bottom: 1.5rem !important;
}

li {
  margin-bottom: 0.5rem !important;
}

dl {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

dl dt {
  display: block;
  font-weight: bold;
  font-style: italic;
}

dl dd {
  display: block;
  margin-left: 2em;
  margin-bottom: 1em;
}
